<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("index", "home")">WBSBookSearchApp</a>

        <form asp-controller="Home" asp-action="Index" class="form">
            <input class="input-search form-control" type="text" name="id" placeholder="Search...">
        </form>
    </div>
</nav>


